<div class="crud">
  <div class="row">
    <!-- Form -->
  <div class="col-lg-4 col-md-12 col-sm-12" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h2>Formulario de Registro</h2>
    <form  autocomplete="off">
      <!-- User name -->
      <div class="mb-3">
        <label class="col-form-label">Nombre de usuario</label>
        <div class="">
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Introduzca nombre"
          />
          <span
          *ngIf="isValidField('name')"
          class="form-text text-danger">
          {{getFieldMessageError('name')}}
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="col-form-label">Contraseña</label>
        <div class="">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="introduce contraseña"
          />

          <span
          *ngIf="isValidField('password')"
          class="form-text text-danger">
            La contraseña debe de ser mayor de 6 caracteres.
          </span>
        </div>
      </div>

      <!-- Confirm password -->
      <div class="mb-3">
        <label class="col-form-label">Confirmación Contraseña</label>
        <div class="">
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
          />

          <span
          *ngIf="isValidField('confirmPassword')"
          class="form-text text-danger">
            Las contraseñas deben de ser iguales
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="col-form-label">Email</label>
        <div class="">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Email del usuario"
          />
          <span
            *ngIf="isValidField('email')"
            class="form-text text-danger">
             {{getFieldMessageError('email')}}
            </span>
        </div>
      </div>

      <!-- Switch subscription -->
      <div class="mb-3">
        <label class="col-form-label"></label>
        <div class="">
          <div class="form-check">
            <input
              formControlName="isSubscribed"
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Envíame ofertas promocionales
            </label>
          </div>
        </div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label class="col-form-label">País</label>
        <div class="">
          <select  class="form-control custom-select" formControlName="country">
            <option value="" disabled selected>Seleccione País</option>
            <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
          </select>
          <span
          *ngIf="isValidField('country')"
          class="form-text text-danger">
           {{getFieldMessageError('country')}}
          </span>
        </div>
      </div>

      <!-- City -->
      <div class="mb-3">
        <label class="col-form-label">Ciudad</label>
        <div class="">
          <input
            formControlName="city"
            type="email"
            class="form-control"
            placeholder="Introduzca Ciudad"
          />
          <span
            *ngIf="isValidField('city')"
            class="form-text text-danger">
             {{getFieldMessageError('city')}}
            </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
          (ngSubmit)="onSubmit()"
           class="btn btn-dark mt-1"
           type="submit">{{currentUser.id ? "Actualizar" : "Guardar"}}</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Table -->
  <div class="col-lg-8 col-md-12 col-sm-12" >
    <h2>Usuarios</h2>
    <table-page />
  </div>
  </div>
</div>

