<div class="row">
  <div
    class="mb-4 d-flex justify-content-center col-lg-4 col-md-6 col-sm-12"
    *ngFor="let task of tasks"
  >
    <div
      class="card p-1"
      [ngClass]="{ completed: task.completed }"
      style="width: 18rem"
    >
      <div class="card-body">
        <!-- Titulo de la nota -->
        <div class="d-flex justify-content-between align-items-center">
          <ng-container *ngIf="!task.editing">
            <h5 class="card-title fw-bold mt-1">{{ task.taskTitle | titlecase }}</h5>
          </ng-container>
          <input
            class=" titleInput"
            placeholder="Ingrese tarea..."
            *ngIf="task.editing"
            [(ngModel)]="task.taskTitle"
          />
          <button
            class="btn btn-dark input-group-text checkboxInput"
            (click)="editTask(task)"
          >
            {{ task.editing ? "✓" : "🖊" }}
          </button>
        </div>

        <!-- Subtareas -->
        <div *ngFor="let subtask of task.subTasks">
          <div class="checkbox-wrapper-11">
            <input id="01-11" type="checkbox" name="r" value="2"
            [checked]="subtask.completed"
            (change)="subtask.completed = !subtask.completed"
            />
            <label for="01-11">{{ subtask.title }}</label>
          </div>

          <input class="mt-2 subTaskInput" placeholder="Ingrese tarea..."
          [(ngModel)]="newSubtask"
          *ngIf="subtask.editSubtask"/>
        </div>
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-between mb-1 p-2">
        <div class="bg-dark input-group-text checkboxInput">
          <input
            class="form-check-input mt-0 me-2"
            type="checkbox"
            aria-label="Checkbox for following text input"
            [checked]="task.completed"
            (change)="isCompleted(task)"
          />
          <label class="form-check-label" for="flexCheckDefault"> Done </label>
        </div>
        <div class="buttons" >
          <button class="btn btn-dark me-2 input-group-text checkboxInput"
          (click)="addSubtask(task)">
            {{ task.editing ? "✓" : " &#128932;" }}
          </button>

          <button
            (click)="deleteTaskBtn(task.id)"
            class="btn btn-dark input-group-text checkboxInput"
          >
            &#10007;
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
