<h1 class="mt-2">Hello World</h1>
<hr>
<!-- Toolbar -->
<div class="my-3 accordion accordion-flush shadow" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Tareas
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
</div>

<button
 (click)="showMessage()"
 class="btn btn-dark my-3 py-2 px-4">{{buttonText}}</button>

<app-display-page *ngIf="showTitle"></app-display-page>
