p {
  font-size: 100px;
}
input {
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
button{
  width: 100%;
}


@media (max-width: 770px) {
  button {
    margin-bottom: 10px;
  }
}
