.checkboxInput,
.selectInput {
  border: 1px solid black;
  box-shadow: 2px 2px  2px rgba(0, 0, 0, 0.2);
}
.form-check-input[type="checkbox"] {
  border: 1px solid black;
  box-shadow: 2px 2px  2px rgba(0, 0, 0, 0.2);
}
.form-check-label{
  width: 100px;
}

h4 {
  text-decoration: underline;
}
