<div class="text-center">
  <h1>Buscador de Música</h1>
  <hr />

  <ul class="row d-flex justify-content-center mb-3">
    <div class="col-lg-4 col-md-6">
      <li class="btn btn-dark py-3 px-5"
      routerLink="/searchOnType/searcher/by-artist"
      routerLinkActive="active"
      >Artista</li>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <li class="btn btn-dark py-3 px-5"
      routerLink="/searchOnType/searcher/by-song"
      routerLinkActive="active"
      >Canción</li>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <li class="btn btn-dark py-3 px-5"
      routerLink="/searchOnType/searcher/by-album"
      routerLinkActive="active"
      >Álbum</li>
    </div>
  </ul>

  <div >
    <router-outlet></router-outlet>
  </div>

</div>
