<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Correo</th>
      <th scope="col">Suscrito</th>
      <th scope="col">País</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name | titlecase}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isSubscribed ? "✔" : ""}}</td>
      <td>{{user.country}}</td>
      <td>{{user.city | titlecase}}</td>
      <td class="buttons">
        <button class="btn btn-dark me-1" (click)="editUser(user)">🖊</button>
        <button class="btn btn-dark" (click)="deleteUser(user.id)">&#10007;</button>
      </td>

    </tr>

  </tbody>
</table>
